<html>
  <head></head>
  <body>
    <div><center><p>
          <h2>Can you guess what the secret number is?</h2></center></div>
      <div><center><form>
        <input type='text' name='guess' />
        <input type='submit' value='Guess!' />
  </form></center></div>
  <center><h2><%= message %></center></h2>
    </p>
  </body>
</html>
